body {
    background-color: #092e20;
}


p {
    text-align: center;
    font-family: Garamond, serif;
    font-size: 18px;
}

#back{
    background-color: #234f32;
    width: 1150px;
}

#map {
    width: 1000px; 
    height: 350px;
}

#input {
    width: 1000px; 
    background-color: white;
    text-align: center;
    border: 2px solid #AEB404;
    border-radius: 5px;
    margin: 1px 0px 0px 0px;
    
}

#waypointsWrap {
    width: 1000px; 
    font-family: Garamond, serif;
    background-color: white;
    text-align: center;
    border: 2px solid #AEB404;
    border-radius: 5px;
    margin: 1px 0px 0px 0px;
    font-size: 15px;
    
}

#waypoints {
    width: 300px;
    height: 110px;
    background-color: #E0FFB8;
    text-align: center;
    border: 2px solid #AEB404;
    border-radius: 5px;
}


